/* page-specific.css */
@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

.centrar {
    display: flex; /* Activamos Flexbox */
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
    height: 100vh; /* Hacemos que el body ocupe toda la ventana */
}
.container {
    background-color: #c28abf;
    border-radius: 20px;
    padding: 50px 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 400px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-family: 'Knewave', Helvetica, Arial, sans-serif;
}

p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #ffffff;
    font-family: 'Sour+Gummy'Helvetica, Arial, sans-serif;
}

p2 {

    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #000000;
    font-family: 'Sour+Gummy'Helvetica, Arial, sans-serif;

}


p3 {

    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #6f00a6;
    font-family: 'Sour+Gummy'Helvetica, Arial, sans-serif;

}
.buttons {
    margin: 20px 0;
}

.buttons a {
    display: inline-block;
    background-color: #4b4b4b;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 5px;
    transition: background-color 0.3s ease;
}

.buttons a:hover {
    background-color: #6c6c6c;
}

.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff;
}
